.case_created_message{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 28.6px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #173770;
}