    
.testBG{
    background-color:#0D2A7A; /* #173770*/
    height: 56px;
}  
  .logo-header{
      /* font-family: 'Poppins', sans-serif; */
	  font-size: 14px;
      font-weight:600;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      margin-left: 20px !important;
    }
    .mysavvasOrder {
      /* font-family: 'Poppins', sans-serif; */
      font-size: 65px;
      font-weight: 700;
      line-height: 71.5px;
    }
    .bgContent{
        background: rgba(229, 241, 253, 1);
    }
   nav.lwc-59kp5sov61j a {
    border-bottom: 5px solid transparent;
    background-color : transparent !important;
	}
     nav.lwc-59kp5sov61j a:hover.lwc-59kp5sov61j, nav.lwc-59kp5sov61j a:active.lwc-59kp5sov61j, nav.lwc-59kp5sov61j a:focus.lwc-59kp5sov61j, nav.lwc-59kp5sov61j button:hover.lwc-59kp5sov61j, nav.lwc-59kp5sov61j button:active.lwc-59kp5sov61j, nav.lwc-59kp5sov61j button:focus.lwc-59kp5sov61j {
    border-bottom: 5px solid var(--dxp-c-navigation-list-hover-background-color-contrast);
    background-color : transparent !important;
	}
    
:root{
    --landing-page-bgimage-path: url('{ basePath }/sfsites/c/resource/scc_landingpage_bgimage');
    --landing-page-bgimage-mobile-path: url('{ basePath }/sfsites/c/resource/scc_landingpage_bgimage_mobile');
    --delete-icon-path: url('{ basePath }/sfsites/c/resource/scc_delete_icon');
    --brand-logo-loggedIn-header-mobile: url('{ basePath }/sfsites/c/resource/scc_brand_logo_standalone');
}
body, h1, h2, h3, h4, a, li, p , span , button{
	/* font-family: Poppins !important; */
}
.comm-section-container{
    padding: 0 !important;
}
    .columns-content{
        max-width: none !important;
    }
    .content{
        background-color: #E5F1FD;
    }
    .component-wrapper-spacer{
        margin-bottom: 0 !important;
    }
label.slds-form-element__label.slds-no-flex {
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

    .sign-in lightning-icon svg {
        --slds-c-icon-color-foreground : red !important;
    }
  .slds-checkbox_faux{
    width: 22px !important;
    height: 22px !important;
    border-radius: 2px !important;
    box-shadow: none !important
}
.slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux{
    background-color: #2150A3 !important;
    border: none !important;
}
.slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux::after{
    border-color: #ffffff !important;
}
    .slds-checkbox .slds-checkbox__label .slds-form-element__label{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: #0C1E3D;
}
    .custom-tabset {
    width: 155px;
    height: 65px;
    padding: 10px;
}
  .order-status-BG .slds-input, .productCriteriaBg .slds-input{
    height: 55px;
    border: 1px solid #AFC3D8;
    border-radius: 5px;
    color: #173770;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    background-image: linear-gradient(319deg, transparent 50%, #33BDCD 50%);
    background-position: 5px 5px, 0, 100% 0;
    background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
    background-repeat: no-repeat;
    padding: 1.5rem;
}
    .slds-card{
        border: 1px solid #AFC3D8;
  		border-radius: 10px;
        box-shadow: none;
    }
    header.desktop{
        padding: 0 !important;
    }
    .logo-header nav ul li a{
        padding-bottom: 30px !important;
		padding-top: 30px !important;
    }
    .logo-header nav ul li a{
        border-bottom: 6px solid transparent !important;
    }
    .logo-header nav ul li a:hover{
        border-bottom: 6px solid #33BDCD !important;
    }
::-ms-input-placeholder { /* Edge 12-18 */
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: #173770 !important;
    opacity: 50%;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: #173770 !important;
    opacity: 50%;
}
.slds-form-element__label{
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 22.4px;
    text-align: left;
    color: #0C1E3D;
    display: block;
    /* font-family: Poppins !important; */
}  
    .chevron-circle svg{
    width: 10px;
    height: 15px;
    display: inline-block;
    vertical-align: baseline;
    --slds-c-icon-color-foreground: #fff;
}
 
    .no-signin-reqd-links button{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
}
    .no-signin-reqd-links button:hover{
        text-decoration: underline;
    }
    .RegisterNewUser .slds-card{
    border: none;
    box-shadow: none;
}
.RegisterNewUser .slds-card__body{
    margin-bottom: 0;
}
    .slds-select{
        border: 1px solid #AFC3D8;
        height: 50px;
        padding: 13px;
        /* font-family: Poppins !important; */
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
		color: #173770;
    }
    .slds-select option{
        padding: 13px;
    }
    .access-type-checkbox-group .slds-checkbox:first-of-type{
        margin-bottom: 20px;
    }
    .modal-confirm-button button, .modal-confirm-button button:hover, .modal-confirm-button button:focus{
    width: 200px;
    height: 55px;
    background-color: #9ECA47;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: left;
    color: #0C1E3D;
    border: none;
}
    .modal-cancel-button button, .modal-cancel-button button:hover, .modal-cancel-button button:focus{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2150A3;
    border: none;
    background: none;
    margin-top: 20px;
}
    .slds-button.slds-button_icon.slds-modal__close.register-modal-close svg.slds-icon-text-default{
    --slds-c-icon-color-foreground: #ffffff;
    width: 18px;
    height: 18px;
}
.help-link span svg, .other-apps span svg, .account-options svg{
    --slds-c-icon-color-foreground: #fff;
    width: 0.7rem;
    height: auto;
    margin-left: 10px;
}
.slds-form-element__label.fixed-width{
    margin-right: 10px;
    width: 200px;
    text-align: right;
}
    .statuscombobox .slds-combobox__input{
  height: 55px;
  border: 1px solid #AFC3D8;
  border-radius: 5px;
  color: #173770;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px !important;
  text-align: left;
  background-image: linear-gradient(319deg, transparent 50%, #33BDCD 50%);
  background-position: 5px 5px, 0, 100% 0;
  background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
  padding: 1rem;
}
    .statuscombobox .slds-combobox__input[data-value=""] span{
        color: #173770;
    	opacity: 50%;
    }
    .search-result-cards .slds-card{
  border: 1px solid #AFC3D8;
  border-radius: 10px;
}
    .order-detail-tab-card .slds-card{
        border: 1px solid #AFC3D8;
  		border-radius: 0 10px 10px 10px;
    }
    .slds-combobox .slds-input__icon-group{
        display: none;
    }
    .slds-combobox button:after {
    content: "\203A";
    font-weight: 500;
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
	font-size: 26px;
    font-family: arial;
}
    .checkout-combo-input .slds-combobox__input{
         width: 100%;
         height: 55px;
         top: 23px; 
         border: 1px solid #AFC3D8;/*Adjust the width as needed */
         border-radius: 5px;
         color: #173770;
         /* font-family: 'Poppins', sans-serif; */
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        text-align: left;
        background-image: linear-gradient(319deg, transparent 50%, #33BDCD 50%);
        background-position: 5px 5px, 0, 100% 0;
        background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
        background-repeat: no-repeat;
    }
    .sort-by-label .slds-icon-text-default{
	--slds-c-icon-color-foreground: #173770;
}
    .table-sort-icon svg{
	--slds-c-icon-color-foreground: #0C1E3D;
        width: 15px;
}
    .slds-table .slds-checkbox [type=checkbox][disabled]:checked+.slds-checkbox__label .slds-checkbox_faux{
    background-color: #AFC3D8 !important;
}
    .slds-table .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux{
    background-color: #AFC3D8 !important;
}
.slds-table .slds-checkbox [type=checkbox][disabled]:checked+.slds-checkbox__label .slds-checkbox_faux::after{
    border-color: #0C1E3D !important;
}
    .slds-combobox_container .slds-listbox{
	padding: 10px 0;
	margin: 0;
	border: 1px solid #AFC3D8;
	border-radius: 5px;
	box-shadow: 0px 4px 8px 0px #2150A31A;
}
.slds-combobox_container .slds-listbox .slds-listbox__option-icon{
	display: none;
}
.slds-combobox_container .slds-listbox .slds-media__body span{
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	text-align: left;
	color: #173770;
}
    .review-cart-cards .slds-card__header{
        display: none;
    }
    .review-cart-cards .slds-card__body{
        margin: 0;
    }
    .slds-table td .view-held-cart-name button{
    padding: 20px 10px;
    white-space: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #2150A3;
    text-decoration: underline;
  }
    .view-held-cart-delete-icon lightning-primitive-icon{
        display: none;
    }
    .view-held-cart-delete-icon button{
        background-image: var(--delete-icon-path);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
    .place-order-catalog-table button{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #2150A3;
    text-decoration: underline !important;
    }
    .Shipping-Method .slds-radio {
    margin-top: 15px;
}
    .Provision-Method .slds-radio {
    margin-top: 15px;
}
    .shipto-address-change-link button{
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	text-align: right;
	color: #2150A3;
	text-decoration: underline;
}
    .change-licenceto-btn button{
	font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    margin-top: 32px;
	color: #2150A3;
    text-decoration: underline;
}
    .change-licenceto-btn button[disabled]{
	color: #AFC3D8;
}
    .credit-card-details .slds-form-element__label {
    padding: 0 !important;
}
.header-content{
    max-width: none !important;
}
.email-cart-popup-input .slds-form-element__control{
	padding: 0 !important;
}
.email-cart-popup-input label{
	display: none !important;
}
    .submit-case-popup .addressTextArea .slds-textarea, .submit-case-popup .descriptionTextArea .slds-textarea, .submit-case-popup .details-textarea .slds-textarea{
	height: 100px;
	min-height: 100px;
    border: 1px solid #AFC3D8;
    border-radius: 5px;
    color: #173770;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    background-image: linear-gradient(319deg, transparent 50%, #33BDCD 50%);
    background-position: 5px 5px, 0, 100% 0;
    background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
    background-repeat: no-repeat;
    padding: 1.5rem;
    resize: none;
}
.submit-case-popup label.slds-form-element__label{
	padding-left: 0;
}
.submit-case-popup label.slds-form-element__label .slds-required{
	display: none;
}
    .submit-case-popup .slds-modal__footer button{
    padding: 14px 20px;
    border-radius: 90px;
    background-color: #AFC3D8;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.6px;
    text-align: left;
    color: #fff;
    border: none;
}
.submit-case-popup .slds-modal__footer button:not([disabled]){
    background-color: #9ECA47;
    color: #0C1E3D;
}
.accessCodeSearchCard lightning-input .slds-form-element__label{
	padding-left: 0 !important;
}
@media only screen and (min-width: 1024px){
        .header-search, .header-badge-icons{
        display: none;
    }
    .layout-header-desktop{
	padding: 0;
	display: flex;
    justify-content: space-between;
}
.header-logo{
	width: auto;
}
.header-logo .dxp-content-layout-site-logo{
	width: 400px !important;
	height: 50px !important;
    margin: 5px 0;
}
    .logo-header nav ul{
        justify-content: flex-end;
    }
    .mysavvasOrder h2{
      /* font-family: 'Poppins', sans-serif; */
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
    }
    .home-content{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px !important;
    }
    .homepage-banner .main-content{
        width: 100% !important;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .homepage-banner .main-content-container{
        padding: 0 !important;
    }
    
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .header-logo .dxp-content-layout-site-logo{
		width: 250px !important;
	}
    .logo-header nav ul li a{
        padding: 20px 8px !important;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1600px){
        .logo-header nav ul li a{
        padding: 20px 8px !important;
    }
    }
    @media only screen and (min-width: 1601px){
        .mysavvasOrder h2{
            font-size: 65px;
          line-height: 71.5px;
        }
    }
@media only screen and (max-width: 767px){
	.forgotpswd-outer-container{
		background-image: var(--landing-page-bgimage-mobile-path);
        padding: 28px 15px !important;
        height: 100vh;
	}
	.Forgotpswdcontainer{
		width: auto;
		padding: 30px 25px 40px;
	}
	.Forgotpswdcontainer h2.comm-forgot-password__title.slds-text-align_center.slds-text-heading_large.slds-var-p-around_large{
		font-size: 26px;
		line-height: 28.6px;
	}
	.Forgotpswdcontainer lightning-formatted-text{
		font-size: 14px;
		line-height: 21px;
	}
	.Forgotpswdcontainer .slds-form-element__label{
		padding-top: 13px !important;
	}
	.Forgotpswdcontainer .comm-forgot-password__container.slds-card>div.slds-form-element{
		margin-top: 25px;
	}
	.Forgotpswdcontainer .comm-forgot-password__container.slds-card>div.slds-form-element .comm-forgot-password__submit-button{
		height: 50px;
		font-size: 16px;
		line-height: 17.6px;
	}
	.Forgotpswdcontainer .comm-forgot-password__container.slds-card>div.slds-form-element .comm-forgot-password__cancel-button{
		margin-top: 25px;
	}
    .mysavvasorder-footer .copyright-text p{
        text-align: center !important;
    }
    .mysavvasorder-footer-links p{
		text-align: center !important;
		margin: 10px 0 !important;
	}
	.mysavvasorder-footer p a{
		display: inline-block;
        margin: 0 10px 10px;
	}
    .homepage-banner{
        display: none !important;
    }
    .header .component-wrapper-spacer{
        padding: 10px 4px;
    }
    .header-container{
        padding: 0 !important;
    }
    .header-content{
        padding: 0 !important;
    }
    .header-content .layout-header-mobile{
        justify-content: space-between;
    }
    .header-content .header-navigation{
        width: auto;
    	order: 2;
    }
    .header-content .header-logo{
        order: 1;
        width: 200px;
        height: 50px;
        padding: 0;
    }
    .header-content .header-logo .dxp-content-layout-site-logo{
        width: 200px;
    	height: 50px !important;
    }
    div[aria-label="Multilevel Navigation Menu"] span, div[aria-label="Multilevel Navigation Menu"] li, div[aria-label="Multilevel Navigation Menu"] a{
        background-color: #fff !important;
    }
    div[aria-label="Multilevel Navigation Menu"] ul li a{
        color: rgb(19, 37, 157) !important;
    }
    .home-content{
        max-width: 100vw;
    }
    .logo-header ul.slds-list_vertical{
	background-color: #E5F1FD !important;
	max-width: 100vw;
}
.logo-header nav ul li a{
	padding: 20px !important;
	border-bottom: 2px solid rgb(115 114 114 / 10%) !important;
}
.logo-header .close-button{
	left: 88vw;
    right: auto !important;
	background-color: #E5F1FD;
	padding: 5px;
	margin: 4px;
	border-radius: 5px;
}
.logo-header .close-button svg{
	width: 26px;
	height: 26px;
	--slds-c-icon-color-foreground: #173770;
}
.logo-header nav ul li a:after{
	content: "\003E";
    font-size: 26px;
    height: 21px;
    display: inline-block;
    vertical-align: sub;
    float: right;
    color: #173770;
    font-family: monospace;
    opacity: 70%;
}
    .logo-header .close-button-wrapper::before{
	content: "";
	background-image: var(--brand-logo-loggedIn-header-mobile);
    width: 150px;
    display: inline-block;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 8px;
    background-repeat: no-repeat;
}
}
    .contentbgcolor{
        background-color: #E5F1FD;
    }

.remaing-char-file-upload{
        /* font-family: Poppins !important; */
        font-weight: bold !important;
        color: green; 
	font-size: medium;
      }


.input-fields-wrapper textarea{

	font-family: 'Poppins', sans-serif !important;
  	color: #0C1E3D !important;
	font-weight: bold !important;
	font-size: 16px;
}

.slds-form .slds-form-element__label{

	display: flex !important; 
}


.select-category-input .slds-form-element__label{
	display: flex !important; 
}

.select-category-input.statuscombobox .slds-combobox__input{
	font-family: 'Poppins', sans-serif !important;
  	color: #0C1E3D !important;
	font-weight: bold !important;
	background: none;
}

.input-fields-validation-err{

	font-family: 'Poppins', sans-serif !important;
  	color: #c23934 !important;
	font-weight: nomral !important;
	font-size: 16px;
}