.slds-modal__container{
    width: 548px;
    border-radius: 20px;
}
.slds-modal__header{
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 0;
    padding-top: 46px;
}
.slds-modal__footer{
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clear-cart-modal-button{
    width: 200px;
    height: 55px;
    background-color: #9ECA47;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: center;
    color: #0C1E3D;
    display: inline-block;
}
.cancel-modal-button{
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2150A3;
    display: inline-block;
    width: 200px;
}
.slds-modal__header .slds-modal__close{
    top: 10px;
    right: 10px;
    background-color: #0C1E3D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: sans-serif !important;
    font-size: 24px;
    color: #fff;
}
.slds-modal__header h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #173770;
}
.slds-modal__content p{
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
    color: #0C1E3D;
    margin-bottom: 5px;
	text-align: left;
}
.slds-modal__content .slds-form_horizontal{
    width: 85%;
    margin: 0 auto;
}
.slds-backdrop{
    background-color: rgb(23 55 112 / 80%);
}
.email-cart-popup-input{
    margin: 0 !important;
}
@media only screen and (max-width: 767px){
    .slds-backdrop{
        overflow-x: scroll;
    }
}