.slds-card
{
	margin-left: 0;
	margin-right: 0;
}
.slds-col
{
	margin-right: 0;
	margin-left: 0;
}
.tableData-alignment2{
      
      font-size: 14px;    
      vertical-align: top;
      text-align: center;
      width: 35%;
}
.pad
{
	padding-left: 15px;
}
.shipment-overview
{
  
  padding-right: 4.75rem;
  padding-left: 0.75rem;
 
  text-align: left;
}