.loader-container {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.loader {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  aspect-ratio: 1;
  display: inline-grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #2150A3 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #2150A3 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn)
  }
}

.related-pdt-BG {
  background-color: #E5F1FD;
  margin: 0;
  min-width: 1200px;
}

.breadcrumb-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #173770 !important;
}

.breadcrumb-label.slds-text-title_bold {
  font-weight: 700;
}

.slds-breadcrumb .slds-breadcrumb__item:before {
  color: #33BDCD;
  top: -3px;
}

.title-page-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.back-button {
  padding: 14px 40px;
  background-color: #2150A3 !important;
  color: #fff;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  text-align: left;
  color: #fff;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #0C1E3D;
}

.item-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  color: #173770;
  margin-bottom: 10px;
}

.item-value {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #0C1E3D;
}

.related-products-wrapper {
  background-color: #fff;
  border: 1px solid #AFC3D8;
  border-radius: 10px;
  min-height: 872px;
  position: relative;
}

.related-products-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #0C1E3D;
}

.related-products-title::before {
  content: "";
  width: 8px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  background-color: #9ECA47;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
}

.info-icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #2150A3;
  font-weight: 600;
  line-height: 18px;
  font-style: italic;
  font-family: auto;
  color: #fff;
}

.info-icon:hover+.slds-popover {
  display: block;
}

.slds-popover {
  width: 250px;
  max-width: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #0D2A7A;
  color: #fff;
  border-radius: 4px;
}

.slds-popover .slds-popover__body {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #fff;
}

.filter-search-input {
  width: 184px;
  height: 40px;
  padding: 0;
  padding-left: 10px;
  background: none;
  border: 1px solid #D1D7E2;
  box-shadow: 0px 4px 10px 0px #2150A31A;
}

.filter-clear {
  position: absolute;
  right: 10px;
  top: 3px;
  color: #173770;
  opacity: 50%;
}

.filter-details {
  display: flex;
  align-items: center;
}

.item-count::before {
  content: "";
  border: 1px solid rgba(12, 30, 61, 20%);
  margin: 0 20px;
}

.add-title-to-cart[disabled]:hover>.slds-popover {
  display: block;
  bottom: 56px;
}

.product-desc {
  display: flex;
  align-items: flex-start;
}

.quantity-field {
  width: 64px;
  height: 35px;
  padding: 0;
  padding-left: 20px;
}

.shopping-buttons button {
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  text-align: left;
  color: #fff;
  background-color: #AFC3D8;
  border: none;
  border-radius: 90px;
}

.shopping-buttons .slds-popover {
  width: 260px;
}

.add-title-to-cart:not([aria-disabled=true]),
.clear-cart:not([aria-disabled=true]) {
  border: 1px solid #AFC3D8 !important;
  background-color: #fff !important;
  color: #2150A3 !important;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  border-radius: 90px;
}

.review-cart:not([aria-disabled=true]) {
  background-color: #9ECA47 !important;
  color: #0C1E3D !important;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  border-radius: 90px;
}

.cart-blue,
.cart-white {
  display: none;
}

.review-cart:not([aria-disabled=true]) .cart-blue {
  display: block;
}

.review-cart[aria-disabled="true"] .cart-white {
  display: block;
}

.slds-button+.slds-button {
  margin-left: 10px;
}

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 0px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 30px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.border-coverimage {
  border: 1px solid #d2d2d2;
  border-radius: 7px !important;
}
.schldistrict .slds-popover__body
{ 
  white-space: normal !important;
}
.filter-popup .slds-popover__body{
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  text-align: left;
  color: #fff !important;
  white-space: nowrap !important;
  padding: 7px 0px 0px 10px !important;
}
.lock-icon:hover+.filter-popup{
  display: block;
}
.filter-popup{
  width: 300px;
  max-width: none;
  position:absolute;
  bottom: 53px;
  margin-left: 120px;
  transform: translateX(-50%);
  display: none;
  background-color: #0D2A7A;
  color: #fff;
  border-radius: 4px;
  padding: 0px !important;
}
.slds-modal__container{
    width: 750px;
    border-radius: 20px;
}
.slds-modal__header{
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 0;
    padding-top: 46px;
}
.slds-modal__footer{
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clear-cart-modal-button{
    width: 200px;
    height: 55px;
    background-color: #9ECA47;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: center;
    color: #0C1E3D;
    display: inline-block;
}
.cancel-modal-button{
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2150A3;
    display: inline-block;
    /* width: 200px; */
}
.slds-modal__content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #173770;
    margin-bottom: 10px;
}
.slds-modal__header h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #173770;
}
.slds-modal__header .slds-modal__close{
    top: 10px;
    right: 10px;
    background-color: #0C1E3D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: sans-serif !important;
    font-size: 24px;
    color: #fff;
}
p.order-Id {
    text-transform: uppercase;
}