input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  opacity: 1;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.arrow-icon {
    margin-left: 5px;
}

.arrow-icon:hover {

    cursor: pointer;
}
.arvicon-input {
    border: 1px solid #76716b;
    border-radius: 0.25rem;
    padding: 0.5rem;
   /* // margin-bottom: 1rem; */
    overflow-y: scroll;
}