.tabptb50{
	padding-top:6rem;
	padding-bottom:20px;
}
.tab {
}
.tabcomponent .tab-container{
	width:100%;
}
.tabcomponent .tabs{
	display: flex;
}
.tab, .more-tab{
	height: 5.875rem;
	padding: 1.8rem 0.6rem;
	border-radius: 5px 5px 0px 0px;
	background: #009AF4;
	box-shadow: 0px 5px 10px 0px rgba(33, 80, 163, 0.30);
	color:#ffffff;
	border: none;
	border-bottom: 4px solid #1C84C0;
	font-size: 1.25rem!important;
	font-weight: 600;
	letter-spacing: -0.025rem;
	font-family: 'Poppins';
	width:12.5%!important;
	text-align:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tab.active{
	height: 5.875rem;
	padding: 1.8rem 0.6rem;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 4px solid #FFF!important;
	background: linear-gradient(45deg, #173770 0%, #2150A3 100%)!important;
	box-shadow: 0px 15px 30px 0px rgba(33, 80, 163, 0.30)!important;
	color:#ffffff;
	font-size: 1.25rem!important;
	letter-spacing: -0.025rem;
	font-family: 'Poppins';
	width:12.5%!important;
	text-align:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.more-tab{
	position: relative;
}
.dropdown{
	display: none;
	position: absolute;
	background-color:#ffffff;
	border:1px solid #ccc;
	top:100%;
	right: 75px;
	z-index: 9;
}
.dropdown.active{
	display: block;
}
.content{
	padding:20px;
	border: 1px solid #ccc;
   ;
}
.displaynone{
	display: none;
}
.tab1 {
	font-size: 1.25rem;
	padding: 20px;
	border-bottom: 1px solid gainsboro;
	text-align:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 10rem;
}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow {
	border: solid #FFFFFF;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
@media (min-width: 992px) and (max-width: 1400px) {
}
@media (max-width: 1366px){
	.tabcomponent .tab-container{
   }
}