.isbn-wrapper{
  background-color: #fff;
  border: 1px solid #AFC3D8;
  border-radius: 10px;
  position: relative;
}
.isbn-title{    /*title style*/
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #0C1E3D;
}
.isbn-title::before{
  content: "";
  width: 8px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  background-color: #9ECA47;
  display: block;
  position: absolute;
  left: -26px;
  top: 5px;
}
.search-button{
  width: 235px;
  height: 45px;
  border-radius: 90px;
  background-color: #AFC3D8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  justify-content: center;
}
.search-icon{
  --slds-c-icon-color-foreground-default: #fff;
}
.search-button:not([aria-disabled=true]){
  background-color: #2150A3;
}
.clear-button{
  width: 115px;
  height: 45px;
  border-radius: 90px;
  background-color: #AFC3D8;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  justify-content: center;
}
.clear-button:not([aria-disabled=true]){
  background-color: #fff;
  border: 1px solid #AFC3D8;
  color: #2150A3;
}
.isbn-wrapper p{
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  color: #173770;
}
.info-icon{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #2150A3;
  font-weight: 600;
  line-height: 18px;
  font-style: italic;
  font-family: auto;
  color: #fff;
}
.info-icon:hover+.slds-popover{
  display: block;
}
.info-icon:hover+.slds-popover.slds-nubbin_bottom-right{
  transform: translateX(-90%);
  width: 205px;
}
.slds-popover{
  width: 250px;
  max-width: none;
  position:absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #0D2A7A;
  color: #fff;
  border-radius: 4px;
}
.slds-popover .slds-popover__body{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #fff;
}
.filter-search-input{
  width: 184px;
  height: 40px;
  padding: 0 10px;
  background: none;
  border: 1px solid #D1D7E2;
  box-shadow: 0px 4px 10px 0px #2150A31A;
}
.filter-clear{
  position: absolute;
  right: 10px;
  top: 12px;
  color: rgb(23 55 112 / 50%);
  width: 15px;
  height: 15px;
  padding-left: 3px;
  /* color: #173770;
  opacity: 50%; */
}
.slds-button.filter-clear:focus {
    outline: none;
}

button:focus {
    outline: none;
}
.filter-details{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0rem;
  width: 101%;
}
.item-count::before{
  content: "";
  border: 1px solid rgba(12, 30, 61, 20%);
  margin: 0 20px;
}
.filter-details>.slds-button{
  padding: 10px 20px;
  background-color: #AFC3D8;
  border-radius: 90px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15.4px;
  text-align: left;
  color: #fff;
}
.filter-details>.slds-button.add-to-cart:not([aria-disabled=true]){
  background-color: #2150A3;
}
.filter-details>.slds-button.clear-cart:not([aria-disabled=true]){
  border: 1px solid #AFC3D8;
  background-color: #fff;
  color: #2150A3;
}
.filter-details>.slds-button.review-cart:not([aria-disabled=true]){
  background-color: #9ECA47;
  color: #0C1E3D;
}
.cart-blue, .cart-white{
  display: none;
}
.review-cart:not([aria-disabled=true]) .cart-blue{
  display: block;
}
.review-cart[aria-disabled=true] .cart-white{
  display: block;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  opacity: 1;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.table-container {
    overflow-x: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black; /* Add border to table headers only */
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    

}

td {
    border-top: none; /* Remove top border for table cells */
    border-bottom: 1px solid black; /* Add bottom border for table cells */
   /* border-left: 1px solid black;  Add left border for table cells */
    padding: 8px;
}

.header-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    border-right: 1px solid black;
    margin: 0 5px;
}

.arrow-icon {
    margin-left: 5px;
}

.arrow-icon:hover {
    cursor: pointer;
}

/* .btton-spacing{
  padding-top: 10px;  
  padding-bottom: 10px;
}

    .info-text {
        margin-top: 5px;
        font-size: 14px;
        color: #666;
    } */
  .slds-input.arvicon-input {
    width: 80%;
    height: 230px;
    overflow-y: auto;
    border: 1px solid #AFC3D8;
    border-radius: 5px;
}
/*scrollbar style*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AFC3D8; 
  border-radius: 10px;
}
/* CSS Class for changing the text color of a button to black and adjusting line height */
.neutral-button-text-color {
    --slds-c-button-text-color-neutral: black !important; /* Changing button text color to black */
    --slds-c-button-line-height: 1.5rem !important; /* Adjusting button line height */
}
.slds-modal__container{
    width: 625px;
    border-radius: 20px;
}
.slds-modal__header{
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 0;
    padding-top: 46px;
}
.slds-modal__footer{
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clear-cart-modal-button{
    width: 200px;
    height: 55px;
    background-color: #9ECA47;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: center;
    color: #0C1E3D;
    display: inline-block;
}
.cancel-modal-button{
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2150A3;
    display: inline-block;
    width: 200px;
}
.slds-modal__header .slds-modal__close{
    top: 10px;
    right: 10px;
    background-color: #0C1E3D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: sans-serif !important;
    font-size: 24px;
    color: #fff;
}
.slds-modal__header h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #173770;
}
/*.slds-modal__content p{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #173770;
    margin-bottom: 10px;
} */
.slds-modal__content span{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #173770;
}
.slds-modal__content .slds-form_horizontal {
    width: 85%;
    margin: 0 auto;
}
.slds-backdrop{
    background-color: rgb(23 55 112 / 80%);
}
.note-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #FFE050;
    font-weight: 600;
    line-height: 18px;
}
/*Quantity warning popup*/
.slds-modal__container{
    width: 750px;
    border-radius: 20px;
}
.slds-modal__header{
    border-radius: 20px 20px 0 0;
    border: none;
    padding: 0;
    padding-top: 46px;
}
.slds-modal__footer{
    border-radius: 0 0 20px 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ok-modal-button{
   width: 200px;
    height: 55px;
    background-color: #9ECA47;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: center;
    color: #0C1E3D;
    display: inline-block;
}
.cancel-modal-button{
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #2150A3;
    display: inline-block;
    width: 200px;
}
.slds-modal__content p{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #173770;
    margin-bottom: 10px;
}
.slds-modal__header h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 38.5px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #173770;
}
.slds-modal__header .slds-modal__close{
    top: 10px;
    right: 10px;
    background-color: #0C1E3D;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-family: sans-serif !important;
    font-size: 24px;
    color: #fff;
}