.THIS .custom-box-icon {
    text-align: center;
    background-color: #1b96ff;
    color: white;
    height: 125px;
    width: 175px;
    border: 1px solid #2f3030;
 
}
.THIS .custom-box-icon-Test1 {
    text-align: center;
    color: white;
    height: 125px;
    width: 175px;
    border: 1px solid #2f3030;

}