/*
.chart-container {
    position: relative;
    height: 300px; 
    width: 100%;
    background-color: white;
    overflow-x: hidden; 
    overflow-y: hidden;
    box-sizing: border-box;
    border: 1px solid #d8dde6;
    padding: 16px;
    margin: 16px 0;
    border-radius: 4px; 
}

.chart-note {
    position: absolute;
    bottom: 8px;
    left: 8px; 
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #666;
    text-align:left;
}
*/
/*
.chart-container {
    position: relative;
    height: 300px; 
    width: 100%;
    background-color: white;
    overflow-x: hidden; 
    overflow-y: hidden;
    box-sizing: border-box;
    border: 1px solid #d8dde6;
    padding: 10px;
    border-radius: 4px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 1px; 
}

.dropdown-container label {
    font-size: 12px;
    margin-right: 1px;
    font-family: Arial, sans-serif;
    color: #333;
}

.dropdown-container select {
    padding: 1px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    border: 1px solid #d8dde6;
    border-radius: 1px;
    width: 150px; 
    background-color: white;
    color: #333;
    outline: none;
    appearance: none; 
    cursor: pointer;
}

.dropdown-container select::-ms-expand {
    display: none; 
}

.chart-note {
    position: absolute;
    bottom: 1px;
    left: 8px; 
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #666;
    text-align:right;
}*/

/*.combobox-container {
    margin-bottom: 10px; 
    position: relative;
    width: 150px;
}*/

.combobox-container {
    top: -10px; 
    left: 10px;
    position: absolute;
    width: 150px;
}

.chart-container {
    position: relative;
    height: 500px;/* 300px; */
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y:  auto;/* hidden; */
    box-sizing: border-box;
    border: 1px solid #d8dde6;
    padding: 50px 10px 10px 10px;
    border-radius: 4px;
}
.chart-container1 {
    height: 500px;
    overflow-y: auto;
    width:100%;
}
/* show text to top right*/
.visual-text {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #666; 
    padding-right: 10px;
    padding-top: 10px;
}
/* show text to bottom left*/
/* .visual-text {
    position: absolute;
    bottom: 1px;
    left: 8px; 
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #666;
    text-align:right;
} */