.slds-modal__container {
width: 50rem;
max-width: 100%;
border-radius: 8px;
overflow: hidden;
	} 
.slds-modal__header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
background-color: #f4f6f9;
} 
.slds-modal__header h2 { 
margin: 0; font-size: 1.5rem;
} 
.slds-modal__content { 
display: flex;
flex-direction: column;
gap: 1rem;
} 
.slds-modal__content .slds-m-bottom_small {
display: flex;
flex-direction: column;
}
.slds-modal__content .slds-m-bottom_small label { 
margin-bottom: 0.5rem; 
font-weight: bold;
} 
.slds-modal__footer {
display: flex;
flex-direction: column;
gap: 0.5rem;
padding: 1rem;
background-color: #f4f6f9;
} 
.slds-modal__footer lightning-button {
width: 100%; margin-bottom: 0.5rem;
} 
.slds-button_brand {
background-color: #64ae1d; 
} 
.slds-modal__close {
background-color: transparent;
border: none;
cursor: pointer;
} 
.custom-modal__container { 
width: 400px;
padding: 20px;
border-radius: 10px;
}
.custom-modal__header {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
}
.custom-modal__content {
padding: 20px;
}
.custom-modal__footer {
display: flex; 
flex-direction: column;
align-items: center;
padding-top: 10px;
border-top: 1px solid #ddd;
}