.slds-table{
  border: none;
}
.slds-table th a, .slds-table td a, .slds-table td div{
  padding: 20px 10px;
  white-space: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #173770;
  text-decoration: none;
}
.slds-table thead, .slds-table thead th{
  background-color: #fff;
}
.slds-table thead th a{
  font-weight: 600;
  color: #0C1E3D;
  padding: 0;
  word-break: break-word;
}
.slds-table tbody th, .slds-table tbody td{
  border: none;
  padding: 0;
}
.slds-table tbody tr:nth-child(2n+1){
  background-color: rgb(229 241 253 / 40%);
}
.slds-table tbody tr:hover td, .slds-table tbody tr:hover th{
  background-color: inherit;
}
.slds-table thead th{
  position: relative;
}
.slds-table thead th:after {
  height: 14px;
  border: 1px solid #AFC3D8;
  content: "";
  margin-right: 5px;
  margin-left: 2px;
  position: absolute;
  right: 0;
  top: 16px;
}
.slds-table thead tr th:last-child::after{
  content: none;
}
.load-more-button{
  width: 100%;
}
.load-more-button button{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #2150A3;
  text-decoration: underline;
  border: none;
  background: none;
}
.slds-table input.slds-input{
  width: 64px;
  height: 35px;
  padding: 0;
  padding-left: 24px;
}
.slds-table input.slds-input[disabled]{
  box-shadow: 0px 3.25px 6.5px 0px #2150A31A;
  background-color: #AFC3D8;
  background-image: linear-gradient(319deg, transparent 50%, #fff 50%);
  border: 0.81px solid #AFC3D8;
  color: #173770;
}

/*Pricing loader styles start*/
.loader {
  width: 30px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
  padding: 0 !important;
}
 
.loader, .loader:before, .loader:after{
  background: radial-gradient(closest-side at 50% 12.5%, #2150A3  96%,#0000) 50% 0/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #2150A3 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before, .loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}
 
@keyframes l26 {
  100% {transform:rotate(1turn)}
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.arrow-icon {
    margin-left: 5px;
}

.arrow-icon:hover {

    cursor: pointer;
}
.arvicon-input {
    border: 1px solid #76716b;
    border-radius: 0.25rem;
    padding: 0.5rem;
   /* // margin-bottom: 1rem; */
    overflow-y: scroll;
}

/*.slds-popover{
  width: auto;
  max-width: none;
  position:absolute;
  transform: translateX(-50%);
  display: none;
  background-color: #0D2A7A;
  color: #fff;
  border-radius: 4px;
  left: 50%;
  bottom: 60px;
  z-index: 1000;
}
 .item-count+div .slds-popover{
    left: -90px;
} 
.slds-popover .slds-popover__body{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #fff;
  max-width:200px;
  min-height: 30px;

}*/


.lock-icon:hover+.filter-popup{
  display: block;
}

.filter-popup{
  width: 300px;
  max-width: none;
  position:absolute;
  bottom: 53px;
  margin-left: 40px;
  transform: translateX(-50%);
  display: none;
  background-color: #0D2A7A;
  color: #fff;
  border-radius: 4px;
  padding: 0px !important;
}

.slds-nubbin_bottom-left:after, .slds-nubbin_bottom-left:before{
    left: 6.5rem;
}
/* .item-count+div .slds-popover{
    left: -90px;
} */

.filter-popup .slds-popover__body{
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  text-align: left;
  color: #fff !important;
  white-space: nowrap !important;
  padding: 7px 0px 0px 10px !important;
}

.schldistrict .slds-popover__body
{ 
  white-space: normal !important;
}