.dummyClass{color:black;}
.systCompany_Questions{background-image:url(/sfsites/c/resource/Employee_Community_Resources/Page_1/SID_Hed_bnd.png);
    text-align:center;color:#fff;font-size:10pt;width:100%;height:50px;background-size:cover;padding-top:10px;}