.forgotpwd{
    font-family: 'Poppins'!important;
    font-size: 13px;
    font-weight: 500; 
    letter-spacing: -0.02em; 
    color: #173770;
}

.slds-popover{
	color: #fff;
	background-color: #173770;
	font-family: 'Poppins'!important;
    font-size: 13px;
    font-weight: 500; 
    letter-spacing: -0.02em; 
    position:absolute;
    top:30px;
    left:170px;
}
@media (max-width:600px) {
    .slds-popover{
        font-size: 12px;
        letter-spacing: -0.01em; 
        width: 164px;
    }
    .slds-list_dotted{
        margin-left: -23px;

    }
}