.accordion-title {
    flex: 1;
}

.accordion-icon {
    font-size: 1.2em;
}

.accordion-content {
    padding: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.open {
    max-height: 1000px; /* Adjust as needed */
}